@import "../../styles/colors.css";
@import "../../styles/icons.css";
@import "../../styles/layout.css";

.btn {
  @mixin centerContent;
  font-family: 'Nunito', sans-serif;
  padding: 0.75em 1.25em;
  border: none;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
  letter-spacing: 1px;
  font-weight: 200;
  outline: none;
  text-align: center;
  position: relative;
  transition: all 0.3s;
  text-decoration: none;
  font-style: normal;
  border-radius: 2px;
  a {
    color: inherit;
    text-decoration: none;
  }
}

.primary {
  color: white;
  background-color: $clearChill;
  &.cta {
    @mixin cta-icon white;
  }
  &:hover {
    background-color: color-mod($clearChill tint(10%));
  }
}

.secondary {
  color: white;
  background-color: $shipsOfficer;
  &:hover {
    background-color: color-mod($shipsOfficer tint(10%));
  }
  &.cta {
    @mixin cta-icon white;
  }
}

.danger {
  color: white;
  background: color-mod($sasquatchSocks shade(10%));
  &:hover {
    background: color-mod($sasquatchSocks shade(20%));
  }
  &.cta {
    @mixin cta-icon white;
  }
}

.download {
  color: white;
  @mixin download-icon;
  background: $oasisStream;
  &:hover {
    background: color-mod($oasisStream shade(10%));
  }
}

.light {
  background: color-mod($fallingStar tint(65%));
  border: 1px solid black;
  &:hover {
    background: color-mod($fallingStar tint(75%));
  }
  &.cta {
    @mixin cta-icon gray;
  }
}