@import "../../styles/colors.css";
@import "../../styles/layout.css";

$smallTerminalHeight: 200px;
$smallTerminalWidth: 400px;
$mediumTerminalHeight: 400px;
$mediumTerminalWidth: 600px;
$largeTerminalHeight: 600px;
$largeTerminalWidth: 900px;
$headerHeight: 35px;
$borderRadius: 6px;

.terminal {
  @mixin centerContent;
  flex-direction: column;
  box-shadow:0 2px 6px 1px rgba(0, 0, 0, .25);
  border-radius: $borderRadius;
  position: relative;
  background-color: $fallingStar;
  width:$mediumTerminalWidth;
  height: $mediumTerminalHeight;
  * {
    box-sizing: border-box;
  }
}

.header {
  background-color: $lightGrey;
  height: $headerHeight;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 5px;
  span {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    &:nth-child(1) {
      background: color-mod($sasquatchSocks tint(20%));
    }
    &:nth-child(2) {
      background: color-mod($honeyGlow tint(30%));
    }
    &:nth-child(3) {
      background: $sweetGarden;
    }
  }
}

.content {
  width: 100%;
  background-color: black;
  padding: 5px 15px;
  border-radius: 0 0 $borderRadius $borderRadius;
  flex-grow: 1;
  overflow: scroll;
}

.line {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  .comment {
    color: grey;
    &:before {
      content: '# ';
      position: relative;
    }
    &.highlight {
      color: $sweetGarden;
    }
  }
  .code {
    color: white;
    font-family: 'Inconsolata', monospace;
    &:before {
      content: '$ ';
      position: relative;
    }
  }
}


