
$blue: #32c7ff;
$tbBlue: #0099cb;
$lighterTbBlue: color-mod($tbBlue tint(10%));
$darkerTbBlue: color-mod($tbBlue shade(10%));
$tim: papayawhip;
$offWhite: #f8f8f8;
$darkerWhite: color-mod($offWhite shade(15%));
$activeBlueMask: #E3F4F9;
$activeBlue: #0099CC;
$activeBlueShade: #007BA3;
$positiveGreen: #1BA71B;
$positiveGreenShade: #127412;
$negativeRed: #D0021B;
$negativeRedShade: #910112;
$mediumGrey: #314048;
$darkGrey: #293840;
$darkerGrey: #1E292E;
$lightGrey: #d6d6d6;
$darkBlue: #003F5F;
$bgGrey: #F0F0F0;
$textGrey: #90A1A9;
$navBlack: #1f1a17;
$tbYellow: #f3a536;
$tbPurple: #a25380;
$paidGreen: #1ba71b;