@import "../../styles/fonts.css";

.typeface {
  margin-bottom: 10px;
  &.nunito {
    font-family: var(--font-primary);
    &.italic {
      font-style: italic;
    }
  }
  &.raleway {
    font-family: var(--font-header);
  }
  &.code {
    font-family: var(--font-code);
  }
  &.extraLight {
    font-weight: 200;
  }
  &.light {
    font-weight: 300;
  }
  &.regular {
    font-weight: 400;
  }
  &.bold {
    font-weight: 700;
  }
}